body {
    background-color: darkgray;
}

#displayWrapper {
    background-color: #555658;
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
    border-radius: 40px 40px 0 0;
}

#display {
    width: 400px;
    height: 90px;
    background-color: #bbd0c0;
    border-radius: 40px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    font-size: 65px;
}

#buttons {
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 0 0 40px 40px;
    padding-top: 10px;
}

#buttons button {
    width: 90px;
    height: 80px;
    margin: 7px;
    font-size: 2em;
    margin-left: 20px;
}

#buttons .barobar {
    background-color: red;
    border: none;
}

h1 {
    display: inline;
    font-size: 65px;
    color: rgb(38, 36, 36);
}

#calc {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;

}